h1 {
  color: rgb(59, 88, 75);
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  height: 4em;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0.1em 0 0.1em black;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

a {
  color: black;
  text-decoration: none;
}

.link {
  display: inherit;
  color: black;
  font-size: 1rem;
  height: 100%;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

.link:hover {
  background: rgb(0, 0, 0, 0.1);
}

.link:active {
  background: rgb(0, 0, 0, 0.2);
}

.active {
  text-decoration: underline;
}

.nav-menu {
  display: flex;
  justify-content: center;
  /* display: none; */
}

.hamburger-ctn {
  display: none;
}

/* -------------------- Header End ----------------------- */
input {
  border: 1px solid gray;
  border-radius: 5px;
}

select {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.routine-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: clip;
}

.back-btn {
  /* position: sticky; */
  border: none;
  color: gray;
  padding: 1em;
  border-right: 1px solid gray;
  border-radius: 0;
  margin: 0.25em;
  z-index: 0;
}

.back-btn:hover {
  background-color: lightgray;
  color: black;
}

.routine-all {
  width: 90%;
}

.routine-card {
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em 1em;
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: inset 0 0 0.1em black;
  display: flex;
  flex-direction: column;
}

.activities-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-all {
  margin: 1em;
  width: 30%;
}

.rou-act-card {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  border: 1px solid gray;
  border-radius: 5px;
  /* flex-grow: 1; */
  /* height: 100%; */
  width: 30%;
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.activity-card {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.routine-name {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.routine-goal {
  font-weight: bold;
}

.pub-priv {
  display: flex;
  justify-content: space-between;
}

.routine-card:hover {
  box-shadow: 0 0 0.25em black;
}

.single-card:hover {
  box-shadow: inset 0 0 0.1em black;
}

.routine-creator:hover {
  text-decoration: underline;
}

.activity-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.inner-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inner-input {
  margin: 0.5em;
  padding: 0.5em;
  width: 40%;
}

.edit-routine-link {
  width: 70%;
  margin: 0.5em;
  padding: 0.5em;
  /* border: .1em solid black; */
  align-self: center;
  text-align: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
}

.edit-routine-link:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.edit-routine-link:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.act-list-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.act-list {
  margin: 0 0.2em 0 0;
  padding: 0 0.1em 0 0;
}

.img {
  display: flex;
  width: 75vmin;
}

.searchbar {
  margin: 1rem 3rem 0 3rem;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.searchbar-input {
  /* border-radius: 0; */
  width: 75%;
  height: 2.5em;
  display: flex;
  /* box-shadow: 0 0 0.1em black; */
  /* border: none; */
}

.searchbar-btn {
  margin-left: 0.25em;
  height: 2.5em;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  /* border: none; */
  border: 1px solid gray;
  border-radius: 5px;
}

.searchbar-btn:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.searchbar-btn:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.create-activity {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  border: 1px solid black;
  border-radius: 5px;
  height: 95%;
  padding: 0.5em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.update-routine {
  height: 95%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-title {
  align-self: center;
}

.create-name {
  margin: 0.5em;
  padding: 0.5em;
  width: 50vmin;
}

.create-description {
  margin: 0.5em;
  padding: 0.5em;
  flex-grow: 1;
}

.activity-description {
  width: 98%
}

.create-post {
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
  align-self: center;
  text-align: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
  border: none;
}

.create-post:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.create-post:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.edit-activity-card {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.update-post {
  position: absolute;
  width: 25%;
  margin: 1em;
  padding: 0.5em;
  align-self: flex-start;
  justify-self: flex-end;
  text-align: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
  border: none;
}

.update-post:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.update-post:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.remove-post {
  width: 32.5%;
  margin: 1em;
  padding: 0.5em;
  align-self: flex-end;
  justify-self: flex-end;
  text-align: center;
  background-color: rgb(239, 159, 159);
  background: linear-gradient(
    180deg,
    rgb(239, 159, 159) 0%,
    rgb(238, 186, 186) 100%
  );
  box-shadow: 0 0 0.1em black;
  border: none;
}

.centered {
  align-self: center;
  justify-self: center;
}

.remove-post:hover {
  background-color: rgb(242, 185, 185);
  background: linear-gradient(
    180deg,
    rgb(255, 194, 194) 0%,
    rgb(238, 186, 186) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.remove-post:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(207, 159, 159) 0%,
    rgb(184, 141, 141) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

button {
  cursor: pointer;
}

/* ------------------- RESPONSIVE CSS --------------------- */

@media only screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    position: fixed;
    left: 0%;
    top: 4em;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
  }
  .hidden {
    display: none;
  }
  .hamburger-ctn {
    display: flex;
    flex-grow: 1;
    justify-self: center;
    align-self: center;
    justify-content: right;
    
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 2em;
  }
  .hamburger-line {
    margin: .15em;
    background-color: rgb(59, 88, 75);
    width: 2em;
    height: .2em;
  }
}

/* ------------------- Header End ----------------------- */

@media only screen and (max-width: 750px) {
  .rou-act-card {
    flex-grow: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 1106px) {
  .rou-act-card {
    width: 45%;
  }
}

@media only screen and (max-width: 750px) {
  .activity-all {
    flex-grow: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 1106px) {
  .activity-all {
    width: 45%;
  }
}
