h1 {
  color: rgb(59, 88, 75);
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0.1em 0 0.1em black;
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.link {
  color: black;
  font-size: 1rem;
  height: 100%;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

.link:hover {
  background: rgb(0, 0, 0, 0.1);
}

.link:active {
  background: rgb(0, 0, 0, 0.2);
}

.active {
  text-decoration: underline;
}

.routine-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: clip;
}

.back-btn {
  /* position: sticky; */
  border: none;
  color: gray;
  padding: 1em;
  border-right: 0.1em solid gray;
  border-radius: 0.1em;
  margin: 0.25em;
  z-index: 0;
}

.back-btn:hover {
  background-color: lightgray;
  color: black;
}

.routine-all {
  width: 90%;
}

.routine-card {
  border-radius: 0.1em;
  margin: 1em 0;
  padding: 1em 1em;
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: inset 0 0 0.1em black;
  display: flex;
  flex-direction: column;
}

.activities-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-all {
  margin: 1em;
  width: 30%;
}

.rou-act-card {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  border: 0.1vmin solid black;
  border-radius: 1vmin;
  /* flex-grow: 1; */
  /* height: 100%; */
  width: 30%;
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.activity-card {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  /* box-shadow: 0 0 0.1em black; */
  border: 0.1vmin solid black;
  border-radius: 1vmin;
  height: 100%;
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.routine-name {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.routine-goal {
  font-weight: bold;
}

.pub-priv {
  display: flex;
  justify-content: space-between;
}

.routine-card:hover {
  box-shadow: 0 0 0.25em black;
}

.single-card:hover {
  box-shadow: inset 0 0 0.1em black;
}

.routine-creator:hover {
  text-decoration: underline;
}

.activity-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.inner-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edit-routine-link {
  width: 70%;
  margin: .5em;
  padding: .5em;
  /* border: .1em solid black; */
  align-self: center;
  text-align: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
}

.edit-routine-link:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.edit-routine-link:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.act-list {
  margin-left: 0.2em;
  padding-left: 0.1em;
}

img {
  display: flex;
  flex-grow: 1;
  margin-top: 1.5vh;
  /* border: 5rem; */
}

.searchbar {
  margin: 1rem 3rem 0 3rem;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.searchbar-input {
  width: 75%;
  /* flex-grow: 1; */
  padding: .5em;
  display:flex;
  box-shadow: 0 0 0.1em black;
  border: none;
}

.searchbar-btn {
  margin-left: .075em;
  padding: .3em 2em;
  display:flex;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
  border: none;
}

.searchbar-btn:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.searchbar-btn:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}

.create-activity {
  background-color: rgb(232, 239, 237);
  background: linear-gradient(
    180deg,
    rgb(232, 239, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  border: 0.1vmin solid black;
  border-radius: 1vmin;
  height: 95%;
  padding: .5em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.create-title {
  align-self: center;
}

.create-name {
  margin: .5em;
  padding: .5em;
  width: 50vmin;
}

.create-description {
  margin: .5em;
  padding: .5em;
}

.create-post {
  width: 30%;
  margin: .5em;
  padding: .5em;
  align-self: center;
  text-align: center;
  background-color: rgb(159, 239, 203);
  background: linear-gradient(
    180deg,
    rgb(159, 239, 203) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.1em black;
  border: none;
}

.create-post:hover {
  background-color: rgb(185, 242, 216);
  background: linear-gradient(
    180deg,
    rgb(194, 255, 227) 0%,
    rgb(186, 238, 215) 100%
  );
  box-shadow: 0 0 0.2em black;
}

.create-post:active {
  background-color: rgb(159, 207, 185);
  background: linear-gradient(
    180deg,
    rgb(159, 207, 185) 0%,
    rgb(141, 184, 164) 100%
  );
  box-shadow: inset 0 0 0.1em black;
}


button {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .rou-act-card {
    flex-grow: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 1106px) {
  .rou-act-card {
    width: 45%;
  }
}

@media only screen and (max-width: 750px) {
  .activity-all {
    flex-grow: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 1106px) {
  .activity-all {
    width: 45%;
  }
}
